.breed-select {
    margin: 20px 150px 50px 500px;
    width: 500px;
  }

  .loader {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    margin:30px auto;
    position: relative;
    color: #3284ff;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }

  .cat-info{
    margin: 90px;
    width: 1350px;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    25% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
    }
    50% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
    }
    75% {
      box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    100% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
  }
      
 